<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo" href="#/home">GivingYear</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

      <ul class="right hide-on-med-and-down">
        <li data-ng-hide="signedIn()"><a href="#/login">Log In</a></li>
        <li data-ng-hide="signedIn()"><a href="#/signup">Sign Up</a></li>
        <li data-ng-show="signedIn()"><a href="#/">{{user.username}}</a></li>
        <li data-ng-show="signedIn()"><a data-ng-click="logout()">Log out</a></li>
      </ul>

      <ul class="side-nav" id="mobile-demo">
        <li data-ng-hide="signedIn()"><a href="#/login">Log In</a></li>
        <li data-ng-hide="signedIn()"><a href="#/signup">Sign Up</a></li>
        <li data-ng-show="signedIn()"><a href="#/">{{user.username}}</a></li>
        <li data-ng-show="signedIn()"><a data-ng-click="logout()">Log out</a></li>
      </ul>
    </div>
  </nav>
</div>
