$primary-color-dark:   #455A64;
$primary-color:        #8956b6;
$primary-color-light:  #CFD8DC;
$primary-color-text:   #FFFFFF;
$accent-color:         #00BCD4;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;

* {
  box-sizing: border-box;
}

.welcome {
  background-image: url(asset-path('starrysky.jpeg'));
  background-size: cover;
  height: 300px;
}

.welcome-message {
  color: $primary-color-text;
  text-align: center;
  padding-top: 3.5em;
}

.signup-button {
  position: relative;
  left: 40%;
  top: 20%;
}

.about {
  padding: 30px;
  background: $primary-color;
  color: $primary-color-text;

  a, a:hover {
    color: $primary-color-text;
  }
}

// .giving {
//   padding: 30px;
//   background: $primary-color;
// }
.row {
  margin: 0;
}

.list {
  background: $primary-color-text;
  color: $primary-text-color;
}

section {
  padding: 15px;
}

footer {
  background: $primary-color-dark;
  padding: 20px;
  color: $primary-color-text;

  div {
    padding: 10px;
  }
  img {
    width: 20px;
  }
  a, a:hover {
    color: $primary-color-text;
  }
}

form {
  padding-bottom: 20px;
}
