* {
  box-sizing: border-box;
}

.welcome {
  background-image: url(asset-path('starrysky.jpeg'));
  background-size: cover;
  height: 300px;
}

.welcome-message {
  color: white;
  text-align: center;
  padding-top: 3.5em;
}

.signup-button {
  position: relative;
  left: 40%;
  top: 20%;
}

.about {
  padding: 30px;
  background: rgb(59, 48, 55);
  color: white;
}

.giving {
  padding: 30px;
  background: gray;
}

.nav-wrapper {
  background: rgba(40, 32, 51, 0.5)
}
